<div class="flex flex-row justify-content-center w-full">
  <mat-card
    class="flex align-items-center w-12 md:w-7 bg-white border-round-lg mt-4 mx-4 pt-6 pb-4 shadow-8"
  >
    <!-- (ngSubmit)="onSave()" -->
    <form
      [formGroup]="myForm"
      class="flex flex-column justify-content-center align-items-center w-11"
    >
      <mat-card-header class="mb-4">
        @if (isNew) {
        <mat-card-title class="font font-semibold text-lg">
          CREATE CATEGORY</mat-card-title
        >
        } @else {
        <mat-card-title class="font font-semibold text-lg">
          EDIT CATEGORY</mat-card-title
        >
        }
      </mat-card-header>
      <!-- Name-->
      <mat-form-field class="w-full">
        <mat-label class="font">Name:</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Name" />
      </mat-form-field>

      <!-- Descripction -->
      <mat-form-field class="w-full">
        <mat-label class="font">Description:</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="description"
          placeholder="Description"
        >
        </textarea>
      </mat-form-field>

      <!-- Avatar -->

      <mat-label class="font flex justify-content-start pl-5 font w-12"
        >Image:*</mat-label
      >
      <picture>
        @if(imageUrl){
        <img
          [src]="imageUrl"
          width="200px"
          height="150px"
          class="border-round-lg mt-4"
        />

        }@else {
        <img
          [src]="'https://adjditec.com/web/uploads/productos/6182.jpg'"
          width="200px"
          height="150px"
          class="border-round-lg mt-4"
        />

        }
      </picture>
      <input
        type="file"
        class="file-input"
        (change)="updateImage($event)"
        #fileUpload
        formControlName="imageFile"
      />

      <div
        class="file-upload flex flex-column md:flex-row text-sm justify-content-start align-items-center font w-12 mb-4"
      >
        {{ myForm.value.imageFile || "No file uploaded yet." }}

        <button
          mat-button
          color="primary"
          class="button-item font flex justify-content-center align-items-center"
          (click)="fileUpload.click()"
        >
          <mat-icon>attach_file</mat-icon>
          @if(isNew){ Choose an image }@else { Change image }
        </button>
      </div>

      <div class="flex flex-row justify-content-evenly w-full">
        <button
          mat-button
          mat-flat-button
          (click)="return()"
          class="btn btn-danger float-start font"
        >
          Cancel
        </button>
        <button
          mat-button
          mat-flat-button
          type="submit"
          style="background-color: rgba(255, 107, 1, 1)"
          class="font"
          [disabled]="myForm.invalid"
          (click)="onSave()"
        >
          Save
        </button>
      </div>
    </form>
  </mat-card>
</div>
