.container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat'
}

.title {
  margin-bottom: 2rem;
  color: rgba(255, 107, 1, 1);
  font-family: 'Montserrat';
  font-weight: bold;
}

button {
  font-family: 'Montserrat';
}





