<div class="bg container">
  <div class="col-5 flex justify-content-center">
    <img src="/assets/home/img1-home.png" alt="" class="z-5 h-30rem -mb-2" />
  </div>
  <div class="col flex flex-column justify-content-center">
    <h5 class="text-white text-2xl text-center font-bold">
      {{ mensaje | uppercase }}
    </h5>

    <mat-form-field appearance="fill" class="px-6">
      <input matInput placeholder="Search products ..." />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
