<div class="flex flex-row justify-content-around col py-0">
  <mat-card
    class="bg flex flex-column column-gap-4 flex-wrap justify-content-center my-3 xs:w-10 md:w-8"
  >
    <mat-card-content>
      <div class="flex col flex-row flex-wrap justify-content-around gap-6">
        <picture class="justify-content-center">
          <img
            [src]="product()?.image"
            [alt]="product()?.description"
            class="border-round-2xl"
            width="250rem"
          />
        </picture>

        <div
          class="flex flex-column col justify-content-center xs:mx-6 md:mx-2"
        >
          <p class="title">{{ product()?.name }}</p>
          <p class="price">USD {{ product()?.price }}</p>
          <store-rating
            [rating]="product()?.rate"
            class="mt-1 justify-content-start"
          ></store-rating>
          <p class="description">{{ product()?.description }}</p>

          <p class="description">{{ product()?.stock }} in stock</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="justify-content-center">
      <button
        mat-button
        class="text-700 my-1 w-10 text-xs"
        (click)="addToCartHandler()"
      >
        Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
