<div class="flex flex-row justify-content-between">
  <div class="justify-content-start font-bold ml-5">
    <h1>THUMBS UP</h1>
  </div>
  <div class="justify-content-between px-4">
    <button
      class="text-700 font-normal"
      mat-button
      *ngFor="let item of reactiveMenu"
      [routerLink]="[item.route]"
      routerLinkActive="active-link"
    >
      {{ item.title }}
    </button>

    <icon class="align-content-center" [matMenuTriggerFor]="beforeMenu">
      <mat-icon>account_circle</mat-icon>
    </icon>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="onLogOut()">Log Out</button>
    </mat-menu>
  </div>
</div>
