.title {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: bolder;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
  text-align: start;
}

mat-card:hover {
  opacity: 0.5;
}

