<div class="flex flex-row justify-content-center">
  <mat-card
    class="flex align-items-center w-11 md:w-4 xl:w-3 bg-white border-round-lg mt-4 pt-3 pb-5 mx-4 shadow-8"
  >
    <mat-card-header class="mb-4">
      <mat-card-title class="font-semibold text-lg">SIGN UP</mat-card-title>
    </mat-card-header>
    <form
      [formGroup]="myForm"
      (ngSubmit)="logUp()"
      class="flex flex-column justify-content-center align-items-center w-11"
    >
      <mat-form-field class="w-11">
        <mat-label>Nombre y Apellido </mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field class="w-11">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field class="w-11">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="flex flex-row w-12">
        <p class="text-xs -mt-4 ml-3">Minimum 6 characters</p>
      </div>

      <button
        class="w-10 px-4"
        mat-button
        mat-flat-button
        style="background-color: rgba(255, 107, 1, 1)"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Regístrame
      </button>
    </form>
  </mat-card>
</div>
