.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin: 0;
  font-family: 'Montserrat'
}

.productItems {
  height: 80vh;
  overflow-y: scroll;
  margin-right: 1rem;
  padding-right: o;
}
.title{
  margin-left: 0;
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight:600;
  color: rgba(255, 108, 0, 1);
}

.button-item {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  padding-top:  4px;
  padding-bottom: 4px;
  color: black;
  text-align: start;
  border-width: 0;
  background-color: transparent;
}
.button-item:hover {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  border-width: 0;
}

.button-item-selected {
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  border-width: 0;
  color: white;
  background-color: rgba(255, 108, 0, 1) ;
}
.button-item-selected:hover {

  background-color: rgba(255, 108, 0, 1) ;
}


.button-all-selected:focus{
  padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    border-width: 0;
    color: white;
background-color: rgba(255, 108, 0, 1) ;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.button-more {
  display: flex;
  z-index: 99;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  margin-top: -3rem;
  border-radius: 15px;
  color: white;
  text-align: start;
  border-width: 0;
  background-color: rgba(255, 107, 1, 1);
  animation: blink 2s linear infinite;
}

