<div class="flex">
  <div class="w-3 ml-4 mt-4">
    <h6 class="title">Categories</h6>
    <mat-selection-list>
      <mat-list-option>
        <a class="item" routerLink="/store/products">All</a>
      </mat-list-option>
      <mat-list-option *ngFor="let category of categories">
        <a
          class="item"
          routerLink="/store/products"
          [queryParams]="{ category_id: category._id }"
        >
          {{ category.name }}</a
        >
      </mat-list-option>
    </mat-selection-list>
    <h6 class="title">Precio</h6>
    <mat-selection-list>
      <mat-list-option>
        <a class="item" routerLink="/store/products">All</a>
      </mat-list-option>
      <ng-container *ngFor="let priceRange of objectKeys(groupedProducts)">
        <mat-list-option>
          <a class="item" routerLink="/store/products">
            {{ priceRange }}
          </a>
        </mat-list-option>
        <mat-list-option *ngFor="let product of groupedProducts[priceRange]">
          <a
            class="item"
            routerLink="/store/products"
            [queryParams]="{ product_price: product.price }"
          >
            {{ product.price }}
          </a>
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
    <h6 class="title">Rate</h6>
    <mat-selection-list>
      <mat-list-option>
        <a class="item" routerLink="/store/products">All</a>
      </mat-list-option>
      <mat-list-option *ngFor="let rate of uniqueRates">
        <a
          class="item"
          routerLink="/store/products"
          [queryParams]="{ product_rate: rate }"
        >
          {{ rate }}
        </a>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="mt-4">
    <store-search-box></store-search-box>
    <div class="container mx-6 mt-1 column-gap-4 row-gap-6">
      <product-card
        *ngFor="let product of products"
        [cloth]="product"
      ></product-card>
    </div>
  </div>
</div>
