.file-input {
  display: none;
}
.font{
  font-family: 'Montserrat';
}

span{
  display: flex;
  text-align: start;
  font-family: 'Montserrat';
  font-size: 11px;
  color: #ba1a1a;
  margin-top: -1.5rem;
}
