<div class="text-center p-3 mt-6 xs:col-12 sm:col-5 lg:col-3">
  <mat-card class="border-round-3xl">
    <img
      mat-card-image
      src="/assets/home/img5-home.png"
      alt="Photo of a Shiba Inu"
    />
    <p class="star-rating">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </p>
    <mat-card-content>
      <p class="title">VANS HOODIE</p>
      <p class="price">US$ 21,69</p>
      <p class="description">The best hoodie in the world</p>
    </mat-card-content>
    <mat-card-actions class="justify-content-center">
      <button mat-button class="text-700 my-4">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="text-center p-3 mt-6 xs:col-12 sm:col-5 lg:col-3">
  <mat-card class="border-round-3xl">
    <img
      mat-card-image
      src="/assets/home/img6-home.png"
      alt="Photo of a Shiba Inu"
    />
    <p class="star-rating">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </p>
    <mat-card-content>
      <p class="title">SNEAKERS ALL STAR</p>
      <p class="price">US$ 18,19</p>
      <p class="description">The most comfortable shoes</p>
    </mat-card-content>
    <mat-card-actions class="justify-content-center">
      <button mat-button class="text-700 my-4">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="text-center p-3 mt-6 xs:col-12 sm:col-5 lg:col-3">
  <mat-card class="border-round-3xl">
    <img
      mat-card-image
      src="/assets/home/img7-home.png"
      alt="Photo of a Shiba Inu"
    />
    <p class="star-rating">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </p>
    <mat-card-content>
      <p class="title">ZARA DRESS</p>
      <p class="price">US$ 18,19</p>
      <p class="description">Vintage flower print dress</p>
    </mat-card-content>
    <mat-card-actions class="justify-content-center">
      <button mat-button class="text-700 my-4">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
