

mat-card{
  background-color:rgba(255, 154, 61, 1);;
}

.price{
  color: white;
  font-family: 'Montserrat';
  font-size: 18px;
}

.title{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
}

.description{
  margin-top: 1rem;
  font-family: 'Montserrat';
  font-size: 12px;
}

button{
  background-color: white;
  border-color: black;
}

