<mat-card class="border-round-2xl my-2 w-12rem h-35rem">
  <product-lazy-image
    [url]="cloth.image"
    [alt]="cloth.description"
  ></product-lazy-image>
  <mat-card-content>
    <store-rating
      [rating]="cloth.rate"
      class="align-items-center"
    ></store-rating>
    <p class="title">{{ cloth.name }}</p>
    <p class="price">{{ cloth.currency }} {{ cloth.price }}</p>
    <p class="description">{{ cloth.description }}</p>
  </mat-card-content>
  <mat-card-actions class="justify-content-center">
    <button mat-button class="text-700 my-1 w-9 text-xs">Add to Cart</button>
  </mat-card-actions>
</mat-card>
