<div class="col flex flex-column justify-content-center px-6 pt-6">
  <h5 class="title">Newly added</h5>
</div>
<div class="flex flex-row">
  <div class="circle"></div>
  <div class="line"></div>
  <div class="triangle-down"></div>
</div>

<div class="container column-gap-3 row-gap-4 mt-6 mx-3">
  <product-card
    class="col-12 md:col-4 lg:col-3 xl:col-2 p-0 flex justify-content-center"
    (addToCart)="addToCart($event)"
    *ngFor="let product of products()"
    [cloth]="product"
  ></product-card>
</div>
